
#television {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    background-color: yellow;
}

#nes-console {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: blue;
}

#nes-cartridge {
    /* position: absolute; */
    margin-left: 100px;
    height: 100px;
    width: 100px;
    left: 300px;
    bottom: 0px;
    background-color: red; 
}

.form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    background-color: aqua;
    align-items: center;
}